# Module 1 Section 2 Lab 1 - Python Operators & Control Flow

# A. Print() Function

Fungsi print() mencetak pesan yang ditentukan ke layar, atau perangkat keluaran standar lainnya.

Pesan dapat berupa string, atau objek lain, objek tersebut akan diubah menjadi string sebelum ditulis ke layar.

In [ ]:
print()

In [ ]:
print(35)

In [ ]:
print('Hello World')

In [ ]:
print('line1\nline2\tline3')

In [ ]:
print('Hello', 'how are you?', sep='---')

In [ ]:
print('Checking file integrity', end='...')
print('ok')

In [ ]:
a = 1
print('Hello world! ', a)

In [ ]:
print('hello world! {}'.format(a))

In [ ]:
print(f'Hello world! {a}')

In [ ]:
print("Hello world! %x" % a)

# B. Python Operators

## 01 Operator Aritmatika (Arithmetic Operators)
Melakukan operasi matematika.

In [ ]:
x = 15
y = 4

print(f'x + y = {x+y}')     # Penjumlahan
print(f'x - y = {x-y}')     # Pengurangan
print(f'x * y = {x*y}')     # Perkalian
print(f'x / y = {x/y}')     # Pembagian
print(f'x % y = {x%y}')     # Modulus (sisa hasil bagi)
print(f'x // y = {x//y}')   # Pembagian bulat
print(f'x ** y = {x**y}')   # Pangkat

In [ ]:
a = -(x)
print(a)

In [ ]:
print(-(y))

### Fungsi str(), int(), and float()

In [ ]:
x = str(27)
print(x)

In [ ]:
type(x)

In [ ]:
print('I am {} years old.'.format(str(27)))

In [ ]:
x = int(7.7)

In [ ]:
type(x)

In [ ]:
y = int(7.7) + 1
print(y)

In [ ]:
float(5)

## 02 Operator Perbandingan (Comparison Operators)
Membandingkan suatu nilai. Mengembalikan `True` atau `False` sesuai dengan kondisinya.

In [ ]:
x = 10
y = 12

print(f'x > y is {x>y}')      # Lebih besar
print(f'x < y is {x<y}')      # Lebih kecil
print(f'x == y is {x==y}')    # Sama dengan
print(f'x != y is {x!=y}')    # Tidak sama dengan
print(f'x >= y is {x>=y}')    # Lebih besar atau sama dengan
print(f'x <= y is {x<=y}')    # Lebih kecil atau sama dengan

Bagaimana dengan string?

In [ ]:
42 == '42'

In [ ]:
'hello' == 'Hello'

In [ ]:
'dog' != 'cat'

In [ ]:
'dog' >= 'dog'

## 03 Operator Logika (Logical Operators)

In [ ]:
x = True
y = False

print(f'x and y is {x and y}') # True jika kedua operan benar
print(f'x or y is {x or y}')   # True jika salah satu operan benar
print(f'not x is {not x}')     # True jika operan salah

### Menggabungkan Operator logika dan perbandingan

In [ ]:
(4 < 5) and (5 < 6)

In [ ]:
(4 < 5) and (9 < 6)

In [ ]:
(1 == 2) or (2 == 2)

## 04 Operator Penugasan (Assignment Operators)
Memberikan nilai ke variabel

In [ ]:
x = 5

In [ ]:
x += 3    # Setara dengan x = x + 3
print(x)

## 05 Operator Identitas (Identity Operators)
Memeriksa apakah dua nilai (atau variabel). Jangan pernah menggunakan operator `==` atau `!=` untuk mengevaluasi operasi boolean. Gunakan operator `is` atau `is not`.

In [ ]:
True is True

In [ ]:
True is not False

## 06 Operator Keanggotaan (Membership Operators)
Memeriksa apakah nilai (atau variabel) ditemukan dalam tipe data *sequence* (string, list, tuple, set dan dictionary).


Dalam dictionary, kita hanya dapat menguji keberadaan key, bukan valuenya.

In [ ]:
buah = ['apel', 'jeruk', 'anggur']

print('apel' in buah)
print('mangga' not in buah)

In [ ]:
string = 'Hello world'

print('H' in string)
print('Hello' not in string)

In [ ]:
list(string)

In [ ]:
bio = {'name': 'Cahyo', 'age': 27}

In [ ]:
'name' in bio.keys()   # keys() dapat dihilangkan saat memeriksa kunci

In [ ]:
'name' in bio

In [ ]:
'Cahyo' in bio.values()

In [ ]:
'cahyo' in bio.values()

# C. Input() Function

In [ ]:
print('What is your name?')   # ask for their name
name = input("Enter your name ... ")

print('It is good to meet you, {}'.format(name))

In [ ]:
print('How old are you?')
age = input()

In [ ]:
type(age)

# D. Control Flow: Logic

**Conditionals**<br>
Conditionals adalah bentuk flow control paling sederhana. 

Dalam bahasa manusia, conditionals mengikuti syntax:

**"Jika kondisi terjadi, maka lakukan sesuatu. Jika kondisi tidak terjadi, maka lakukan hal lain"**

Bentuk conditionals pada Python:
* if statement
* if-else statement
* if-elif-else statement

Inti dari semua bentuk conditionals ialah **condition**. Condition adalah **expression** yang dapat bernilai `True` atau `False`.

## 01 If Statement
Bentuk conditionals terpendek atau paling sederhana.

In [ ]:
nilai = 90
kkm = 75

if nilai >= 75:
  print('Lulus')

In [ ]:
rujak = 'habis'

if rujak == 'habis':
  print('Beli lainnya aja!')

## 02 If-Else Statement
Terdapat eksekusi alternatif atau dua kemungkinan. Condition akan menentukan kemungkinan mana yang akan dieksekusi program.

In [ ]:
nilai = 90
kkm = 75

if nilai >= 75:
  print('Lulus')
else:
  print('Tidak Lulus, Bro')

In [ ]:
rujak = 'tersedia'

if rujak == 'tersedia':
  print('Beli rujak')
else:
  print('Beli pecel aja, ya!')

## 03 If-elif-else Statement

Sama halnya dengan if-else statement, condition akan menentukan kemungkinan mana yang akan dieksekusi oleh Program.

Bedanya, if-elif-else statement dapat memiliki lebih dari satu condition

In [ ]:
nilai = 80

if nilai >= 90:
  print('A')
elif nilai >= 80:
  print('B')
elif nilai >= 70:
  print('C')
else:
  print('Tidak Lulus, Bro')

# E. Control Flow: Loop

Cara mengeksekusi sekumpulan kode yang sama berulang kali.

Bentuk loop pada Python:
- while loops
- for loops

## 01 For Loop

Melakukan iterasi pada sebuah container.

In [ ]:
names = ['lidya', 'aris', 'kinan']

for name in names:
  print(name)

lidya
aris
kinan

In [ ]:
scores = 80, 70, 90
total = 0

for score in scores:
  total += score
  print(total)

80
150
240

In [ ]:
for char in "Orbit Future Academy":
  print(char, end=',')

O,r,b,i,t, ,F,u,t,u,r,e, ,A,c,a,d,e,m,y,

### Range() Function

Menentukan jumlah iterasi yang diinginkan.

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
for number in range(11):
  print(number * 2)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(5, 10):
  print(i)

5
6
7
8
9

In [ ]:
# argument 1 -> start value
# argument 2 -> stop value
# argument 3 -> step value

for i in range(0, 10, 2):
  print(i)

0
2
4
6
8

In [ ]:
names = ['lidya', 'aris', 'kinan']

for name in range(len(names)):
  print(names[name])

lidya
aris
kinan

### Break

Menghentikan proses loop

In [ ]:
for string in 'Orbit Future Academy':

  # Break loop
  if string == "F":
    break
  
  print('Current string:', string)

Current string: O
Current string: r
Current string: b
Current string: i
Current string: t
Current string:

In [ ]:
names = ['lidya', 'aris', 'kinan']

for name in names:
  print(name)
  if name == 'aris':
    break

lidya
aris

In [ ]:
for name  in names:
  if name == "aris":
    break
  print(name)

lidya

### Continue
Mengembalikan kontrol ke awal loop

In [ ]:
for string in 'Orbit Future Academy':

  # Break loop
  if string == "F":
    continue
  
  print('Current string:', string)

Current string: O
Current string: r
Current string: b
Current string: i
Current string: t
Current string:
Current string: u
Current string: t
Current string: u
Current string: r
Current string: e
Current string:
Current string: A
Current string: c
Current string: a
Current string: d
Current string: e
Current string: m
Current string: y

### Pass
Menulis loop kosong atau pernyataan kontrol kosong

In [ ]:
for string in 'Orbit Future Academy':
  pass

print('Hello')

Hello

### Else in For Loop

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(10):
  if x == 8: 
    break
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
7

### Nested Loop

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## 02 While Loop

Berhubungan dengan if statement, karena block of code yang sama terus dieksekusi ketika condition bernilai `True`

Jika kondisi bernilai `True`, block of code akan dieksekusi kembali. Jika `False`, block of code akan dilewati

In [ ]:
# Cetak i selama i kurang dari 6:

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
# Keluar dari loop ketika i adalah 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
# Lanjutkan ke iterasi berikutnya jika i adalah 3:

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
nilai = 10

while nilai < 60:
  print('remidi', nilai)
  nilai += 10

remidi 10
remidi 20
remidi 30
remidi 40
remidi 50

In [ ]:
while True:
    print('Please type your name.')
    name = input()
    if name == 'cahyo':
        break

print('Thank you!')

Please type your name.
aris
Please type your name.
lidya
Please type your name.
kinan
Please type your name.
cahyo
Thank you!

In [ ]:
while True:
    print('Who are you?')
    name = input()
    if name != 'cahyo':
        continue
    print('Hello, Cahyo. What is the password?')
    password = input()
    if password == 'malang':
        break
print('Access granted.')

Who are you?
Joe
Who are you?
cahyo
Hello, Cahyo. What is the password?
malang
Access granted.

# F. List Comprehension

Sintaks lebih pendek ketika membuat list baru berdasarkan nilai dari list yang sudah ada

`newlist = [expression for item in iterable if condition == True]`

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
newlist = [x for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [ ]:
newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
h_letters = [letter for letter in 'human']
print(h_letters)

['h', 'u', 'm', 'a', 'n']

# G. Dict Comprehension

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Put all keys of `dict1` in a list and returns the list
dict1.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [ ]:
dict1.values()

dict_values([1, 2, 3, 4])

In [ ]:
# access all the keys and their values in a dictionary

dict1.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [ ]:
newdict = {key:value+10 for (key,value) in dict1.items()}

print(newdict)

{'a': 11, 'b': 12, 'c': 13, 'd': 14}

In [ ]:
double_dict1 = {k:v*2 for (k,v) in dict1.items()}
print(double_dict1)

{'a': 2, 'b': 4, 'c': 6, 'd': 8}

#  Latihan

In [ ]:
# Tulis kode untuk menampilkan semua bilangan prima dalam suatu rentang 

start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [ ]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [ ]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: word
drow