# Module 1 Section 1 Lab 1 - Python Data Types

# Numbers, Type Conversion, Math

## Numbers
Bilangan *integer*, *floating point*, dan *complex* termasuk dalam kategori bilangan Python yang didefinisikan sebagai kelas `int`, `float` dan `complex`. *Integer* dan *floating point* dipisahkan oleh ada atau tidaknya titik desimal. Misalnya, 5 adalah *integer* sedangkan 5.0 adalah *floating-point*. Bilangan *complex* ditulis dalam bentuk, `x + yj`, di mana `x` adalah bagian real dan `y` adalah bagian imajiner.

Kita dapat menggunakan fungsi `type()` untuk mengetahui tipe data suatu variabel. Demikian pula, fungsi `isinstance()` digunakan untuk memeriksa apakah suatu objek milik kelas tertentu.

In [7]:
a = 5               # type integer
b = 5.0             # type float
c = 6 + 3j          # type complex

print(type(a))      
print(type(b))    
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [8]:
print(c + 3)
print(isinstance(c, complex))

(9+3j)
True

Bilangan *integer* dapat memiliki panjang berapa pun, tetapi dibatasi oleh memori yang tersedia.

Angka-angka yang kita tangani setiap hari adalah sistem angka desimal (basis 10). Tetapi pemrograman komputer (umumnya *embedded programming*) perlu bekerja dengan sistem bilangan biner (basis 2), heksadesimal (basis 16) dan oktal (basis 8).

Dalam Python, kita dapat merepresentasikan angka-angka ini dengan menempatkan awalan yang tepat sebelum angka itu. Perhatikan Tabel berikut ini.

| Number System | Prefix |
|:----| :--- |
| **`Binary`** |   '0b' or '0B' | 
| **`Octal`** |   '0o' or '0O' | 
| **`Hexadecimal`** |   '0x' or '0X' |

In [9]:
# Output: 1
print(0b0001)  # 0001 in binary is 1 in decimal and i have use prefix '0b'

# Output: 10  
print(0o12)    # 12 in octadecimal is 10 in decimal and i have use prefix '0o'

# Output: 10
print(0x000A)  # 000A in hexadecimal is 10 in decimal and i have use prefix '0x'

1
10
10

## Type Conversion
Kita dapat mengubah satu jenis angka menjadi yang lain. Operasi seperti penambahan, pengurangan memaksa *integer* untuk menjadi *floating point* secara implisit (otomatis), jika salah satu operan adalah *float*.

In [10]:
1 + 3.0  # Menambahkan integer dan float menghasilkan float

4.0

Kita bisa lihat di atas bahwa 1 (integer) dipaksa menjadi 1.0 (float) untuk penjumlahan dan hasilnya juga bilangan *floating point*. Kita juga dapat menggunakan fungsi bawaan seperti `int()`, `float()` dan `complex()` untuk mengonversi tipe data secara eksplisit. Fungsi-fungsi ini bahkan dapat mengkonversi dari string.

In [11]:
a = 6.5
print(type(a))

<class 'float'>

In [12]:
a_int = int(a)          # panggil fungsi int() untuk mengubah tipe data float menjadi int
print(type(a_int))

<class 'int'>

In [14]:
a = 1 + 3.0
print(int(a))

4

In [15]:
int(-2.7)

-2

In [16]:
float(5)

5.0

In [17]:
a = 1234567890123456789
print(a)

b = 0.1234567890123456789     # Hanya 17 angka setelah desimal yang dapat dicetak
print(b)

c = 1+2j
print(c)

1234567890123456789
0.12345678901234568
(1+2j)

Saat mengonversi dari *float* ke *integer*, nomor akan terpotong (bagian desimal dihapus).

In [18]:
complex('3+6j')

(3+6j)

## Python Decimal
*Float* pada Python melakukan beberapa perhitungan yang mungkin membuat kita takjub. Kita semua tahu bahwa penjumlahan 1.1 dan 2.2 adalah 3.3, tetapi Python tampaknya tidak setuju.

In [19]:
(1.1 + 2.2) == 3.3  # Jawabannya seharusnya True

False

**Apa yang terjadi?**

Bilangan *floating-point* diimplementasikan pada perangkat keras komputer sebagai pecahan biner karena komputer hanya memahami biner (0 dan 1). Karena alasan ini, sebagian besar pecahan desimal yang kita ketahui, tidak dapat disimpan secara akurat di komputer kita.

Mari kita ambil contoh. Kita tidak dapat menyatakan pecahan 1/3 sebagai bilangan desimal. Ini akan memberikan 0.33333333 yang panjangnya tak terhingga, dan kita hanya dapat memperkirakannya.

Ternyata, pecahan desimal 0.1 akan menghasilkan pecahan biner yang panjangnya tak terhingga dari 0.000110011001100110011 dan komputer kita hanya menyimpannya dalam jumlah terbatas. Ini hanya akan mendekati 0.1 tetapi tidak pernah sama. Oleh karena itu, ini adalah keterbatasan perangkat keras komputer kita dan bukan kesalahan dalam Python.

In [20]:
1.1 + 2.2

3.3000000000000003

Untuk mengatasi masalah ini, kita dapat menggunakan modul desimal yang disertakan Python. Sementara *floating-point* memiliki presisi hingga 15 tempat desimal, modul `desimal` memiliki presisi yang dapat diatur pengguna. Mari kita lihat perbedaannya.

In [21]:
import decimal

print(0.1)                     # float standart
print(decimal.Decimal(0.1))    # desimal

0.1
0.1000000000000000055511151231257827021181583404541015625

Modul ini digunakan ketika kita ingin melakukan perhitungan desimal seperti yang kita pelajari di sekolah. Ini juga mempertahankan signifikansi. Kita tahu 25.50 kg lebih akurat daripada 25.5 kg karena memiliki dua tempat desimal yang signifikan dibandingkan dengan satu desimal.

In [22]:
from decimal import Decimal

print(Decimal('1.1') + Decimal('2.2'))
print(Decimal('1.2') * Decimal('2.50'))

3.3
3.000

In [23]:
%%time
1.145654 + 2.234353

Wall time: 0 ns

3.380007

In [24]:
%%time
Decimal('1.145654') + Decimal('2.234353')

Wall time: 0 ns

Decimal('3.380007')

Perhatikan angka nol pada contoh di atas. Kita mungkin bertanya, mengapa tidak mengimplementasikan `Decimal` setiap saat, bukan *float*? Alasan utamanya adalah efisiensi. Operasi *floating point* yang dilakukan harus lebih cepat dari operasi `Decimal`.

**Kapan menggunakan Decimal daripada float?** Kita biasanya menggunakan dalam kasus berikut:
1. Saat kita membuat aplikasi keuangan yang membutuhkan representasi desimal yang tepat.
2. Saat kita ingin mengontrol tingkat presisi yang dibutuhkan.
3. Ketika kita ingin menerapkan gagasan tempat desimal yang signifikan.

## Python Fractions
Python menyediakan operasi yang melibatkan bilangan pecahan melalui modul `fractions`. Pecahan memiliki pembilang dan penyebut, keduanya bilangan bulat. Modul ini memiliki dukungan untuk aritmatika bilangan rasional. Kita dapat membuat objek Pecahan dengan berbagai cara.

In [26]:
import fractions

print(fractions.Fraction(1.5))
print(fractions.Fraction(9))
print(fractions.Fraction(1,6))

3/2
9
1/6

Saat membuat `Fraction` dari *float*, kita mungkin mendapatkan beberapa hasil yang tidak biasa. Hal ini disebabkan oleh representasi bilangan *floating point* biner yang tidak sempurna seperti yang telah dibahas pada bagian sebelumnya.

Untungnya, `Fraction` memungkinkan kita untuk membuat *instance* dengan string juga. Ini adalah pilihan yang lebih disukai saat menggunakan angka desimal.

In [27]:
import fractions

# As float
# Output: 2476979795053773/2251799813685248
print(fractions.Fraction(1.1))      # 1.1 is a number

# As string
# Output: 11/10
print(fractions.Fraction('1.1'))    #'1.1' is a string and not a number

2476979795053773/2251799813685248
11/10

Tipe data ini juga mendukung semua operasi dasar. Berikut adalah beberapa contohnya.

In [28]:
from fractions import Fraction as F

print(F(1.3) + F(1.3))
print(F(1, 3) + F(1, 3))
print(1 / F(5, 6))
print(F(-3, 10) > 0)
print(F(-3, 10) < 0)

5854679515581645/2251799813685248
2/3
6/5
False
True

## Python Mathematics
Python menawarkan modul seperti `math` dan `random` untuk melakukan berbagai operasi matematika seperti trigonometri, logaritma, probabilitas dan statistik, dll.

In [29]:
import math

print(math.pi)
print(math.cos(math.pi))    # cos(pi) = -1
print(math.exp(10))
print(math.log10(1000))     # log10(1000) = 3
print(math.sinh(1))
print(math.factorial(6))

3.141592653589793
-1.0
22026.465794806718
3.0
1.1752011936438014
720

In [30]:
import random

print(random.randrange(10, 20))

x = ['a', 'b', 'c', 'd', 'e']       # x is a list class of variable and it has 5 elements.

# Get random choice
print(random.choice(x))

# Shuffle x
random.shuffle(x)

# Print the shuffled x
print(x)

# Print random element
print(random.random())

12
b
['a', 'e', 'c', 'b', 'd']
0.13091352421611324

# Strings
Sebuah string adalah urutan karakter. String digunakan untuk menangani data tekstual pada python.

Komputer tidak berurusan dengan karakter, tetapi berurusan dengan angka (biner). Meskipun kita melihat karakter di layar, secara internal itu disimpan dan dimanipulasi sebagai kombinasi angka 0 dan 1. Konversi karakter ke angka disebut encoding dan proses sebaliknya adalah decoding. ASCII dan Unicode adalah beberapa pengkodean populer yang digunakan.

Dalam Python, string adalah urutan karakter Unicode. Unicode diperkenalkan untuk memasukkan setiap karakter dalam semua bahasa dan membawa keseragaman dalam pengkodean. Unicode ini berkisar dari **$0_{hex}$** hingga **$10FFFF_{hex}$**. Biasanya, sebuah Unicode dirujuk dengan menulis **"`U+`"** diikuti dengan angka **heksadesimal**-nya. Jadi string dalam Python adalah urutan nilai Unicode. 

https://docs.python.org/3.3/howto/unicode.html

<img src='https://raw.githubusercontent.com/milaan9/02_Python_Datatypes/f7bc7d7caed16f357cc712630b562182355e072b/img/s0.png' width=800></img>

String dapat dibuat dengan melampirkan karakter di dalam tanda kutip tunggal atau tanda kutip ganda. Bahkan tanda kutip tiga dapat digunakan dalam Python tetapi umumnya digunakan untuk mewakili string multiline dan docstring.

In [ ]:
print(999)          
print(type(999))    

print('999')        
print(type('999'))

In [ ]:
my_string = 'Hello'
print(my_string)    

my_string = "Hello"
print(my_string) 

my_string = '''Hello'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

In [ ]:
# Multiline String

multiline_string = '''I am a resarcher, teacher and I enjoy teaching.
I didn't find anything as rewarding as empowering people.
That's why I created this repository.'''

print(multiline_string)

In [ ]:
# Another way of doing the same thing

multiline_string = """I am a researcher cum teacher and I enjoy teaching.
I didn't find anything as rewarding as empowering people.
That's why I created this repository."""

print(multiline_string)

In [ ]:
# Unpacking characters 

language = 'Python'

a,b,c,d,e,f = language # unpacking sequence characters into variables

print(a) # ▶ P
print(b) # ▶ y
print(c) # ▶ t 
print(d) # ▶ h
print(e) # ▶ o
print(f) # ▶ n

print(h) # ▶ NameError: name 'h' is not defined

### Mengakses karakter pada String
- Dalam Python, String disimpan sebagai karakter individual di lokasi memori yang berdekatan.
- Manfaat menggunakan String adalah dapat diakses menggunakan dua arah (Forward indexing dan backward indexing).
- Forward indexing dimulai dengan `0,1,2,3,.... `.
- Backward indexing dimulai dengan `-1,-2,-3,-4,.... `.
- Mengakses karakter di luar rentang indeks akan memunculkan `IndexError`. Indeks harus berupa bilangan bulat. Kita tidak bisa menggunakan float atau tipe lainnya, ini akan menghasilkan `IndexError`.
- String dapat diindeks dengan tanda kurung siku. Pengindeksan dimulai dari 0.
- Kita dapat mengakses berbagai item dalam string dengan menggunakan operator `:` (titik dua).
- Fungsi `len()` mengembalikan nilai panjang string.

<img src='https://raw.githubusercontent.com/milaan9/02_Python_Datatypes/main/img/s3.png' width=500></img>

In [ ]:
language = 'Python'

first_letter = language[0]
print(first_letter)   

second_letter = language[1]
print(second_letter)  

last_index = len(language) - 1 
last_letter = language[last_index]
print(last_letter)

In [ ]:
# Jika kita ingin memulai dari ujung kanan (backward indexing) kita dapat menggunakan negatif indexing dimana -1 adalah indeks terakhir

language = 'Python'

last_letter = language[-1]
print(last_letter)

second_last = language[-2]
print(second_last)

In [ ]:
# Jika kita mencoba mengakses indeks di luar rentang atau menggunakan angka selain bilangan bulat akan mendapatkan Error.

str = 'Python'

print('str = ', str)

# index must be an integer
print('str[1.50] = ', str[1.5])

In [ ]:
# index must be in range
print('str[15] = ', str[15])

In [ ]:
name = 'Lidya'
length=len(name)

i=0

for n in range(-1,(-length-1),-1):
    print(name[i],"\t",name[n])
    i+=1

### Memotong String
String slicing dapat didefinisikan sebagai substring yang merupakan bagian dari string. Oleh karena itu substring dapat diperoleh dari sebuah string. Ada banyak cara untuk string slicing. Karena string dapat diakses atau diindeks dari kedua arah dan karenanya string juga dapat diiris dari kedua arah.

Jika kita ingin mengakses suatu range, kita memerlukan indeks yang akan memotong bagian dari string.

```
str[start : stop : step ]
str[start : stop]  
str[start : ]      
str[ : stop]       
str[ : ]           
```

In [ ]:
s = '123456789'

print("The string '%s' string is %d characters long" %(s, len(s)))  
print('First character of',s,'is',s[0]) 
print('Last character of',s,'is',s[8])
print('Last character of',s,'is',s[len(s)-1])

In [ ]:
# Negative slicing (Backward Slicing)

# print('First character of',s,'is',s[-len(s)])
print('First character of',s,'is',s[(-9)])
print('Second character of',s,'is',s[(-8)])
print('Last character of',s,'is',s[-1])

Substring (rentang karakter) yang ditentukan menggunakan $a:b$ untuk menentukan karakter pada indeks $a, a+1,\ldots,b-1$. Perhatikan bahwa karakter terakhir *tidak* disertakan.

In [ ]:
s = 'Layangan'

print("First three characters", s[0:3])
print("Next three characters", s[3:6])

Awal dan akhir rentang yang kosong menunjukkan awal/akhir string

In [ ]:
print("First three characters", s[:3])
print("Last three characters", s[-3:])

In [ ]:
str = 'PYTHON'

print('str = ', str)
print('str[0] = ', str[0])          # first character
print('str[-1] = ', str[-1])        # last character
print('str[1:5] = ', str[1:5])      # slicing 2nd to 5th character
print('str[5:-2] = ', str[3:-1])    # slicing 6th to 2nd last character

In [ ]:
str = "Python Language"

print(str[6:10])
print(str[-12:-7])
print(str[-1: :-1])       # reversed all string
print(str[2: 10: 2])      # step = 2
print(str[ : : -1])       # reversed all string
print(str[ : 5])          # from 0 to 4
print(str[3 : ])          # from 3 to end of the string
print(str[ : ])           # copy all string

### Memisahkan dan Menggabungkan String

Saat memproses teks, kemampuan untuk memisahkan string sangat berguna.
- `partition(separator)`: memecah string berdasarkan pemisah.
- `split()`: memecah string menjadi kata-kata yang dipisahkan oleh spasi (opsional mengambil pemisah sebagai argumen).
- `join()`: menggabungkan hasil split menggunakan string sebagai pemisah.

In [ ]:
s = "one > two > three"
print( s.partition(">") )
print( s.split() )
print( s.split(" > ") )
print( ";".join( s.split(" > ") ) )

In [ ]:
str = "This will split all words into a list"

str.split()

In [ ]:
lst= ['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string']

' '.join(lst)

In [ ]:
'Happy New Year'.find('ew')

In [ ]:
'Happy New Year'.replace('Happy','Brilliant')

### Mengganti dan Menghapus String
String adalah tipe data *immutable*. Ini berarti bahwa elemen string tidak dapat diubah setelah ditetapkan atau diinisiasi. Kita hanya dapat menetapkan kembali string yang berbeda dengan nama yang sama.

In [ ]:
my_string = 'python'
my_string[5] = 'a'

In [ ]:
my_string = 'python'
del my_string[1]

### Operasi String
Ada banyak operasi yang dapat dilakukan dengan string sehingga menjadikannya salah satu tipe data yang paling banyak digunakan di Python. Untuk melakukan operasi pada string, Python pada dasarnya menyediakan 3 jenis Operator yang diberikan di bawah ini.
- Operator Dasar/Penggabungan Dua atau Lebih String
- Operator Keanggotaan
- Operator Relasional

**Operator untuk penggabungan dua atau lebih string**

Operator `+` (penggabungan) dapat digunakan untuk menggabungkan dua string atau lebih, atau disebut concatenation. Operator `*` (replikasi) dapat digunakan untuk mengulang string beberapa kali.

In [ ]:
a = "Hello,"
b = 'World!'

print(a+b)
print(a+" "+b)

In [ ]:
string1 = 'World'
string2 = '!'

print('Hello,' + " " + string1 + string2)

Catatan: Kedua operan yang diteruskan untuk rangkaian harus bertipe data sama, jika tidak maka akan muncul error.

In [ ]:
print("HelloWorld"+99)

In [ ]:
print("HelloWorld " * 5)
print(3 * "Python ")

In [ ]:
str1 = 'Hello'
str2 = 'World!'

print('str1 + str2 = ', str1 + str2)

print('str1 * 3 =', str1 * 3)

Jika kita ingin menggabungkan string dalam baris yang berbeda, kita dapat menggunakan tanda kurung `()`.

In [ ]:
'Hello ''World!'

In [ ]:
s = ('Hello '
     'World')
s

# List

List adalah struktur data yang digunakan untuk menyimpan berbagai jenis data. Dalam Python, list bersifat **mutable**. Python tidak akan membuat list baru jika kita memodifikasi elemen list tersebut. List berfungsi sebagai wadah yang menampung objek lain dalam urutan tertentu. Kita dapat melakukan berbagai operasi seperti penyisipan dan penghapusan pada list. List dapat disusun dengan menyimpan urutan  berbagai jenis nilai yang dipisahkan dengan koma.

| Data types     | Type          |
| :------------: | :-----------: |
| **String**     | **immutable** |
| **List**       | **mutable**   |

## Membuat List
Dalam pemrograman Python, list dibuat dengan menempatkan semua item (elemen) di dalam **tanda kurung siku `[]`**, dipisahkan dengan **koma** **`,`**. Semua elemen dalam list disimpan dalam basis indeks dengan indeks awal **0**. List dapat memiliki sejumlah item dan memiliki tipe yang berbeda (integer, float, string, dll.).

**Syantax:** 

```
<list_name>=[value1,value2,value3,...,value n] 
```

<img src='https://raw.githubusercontent.com/milaan9/02_Python_Datatypes/main/img/l0.png' width=700></img>

In [ ]:
# empty list, no item in the list
my_list = []  
print(my_list)      
print(len(my_list))

# list of integers
my_list1 = [1, 2, 3]  
print(my_list1)

# list with mixed data types
my_list2 = [1, "Hello", 3.4]
print(my_list2)

# nested list
my_list3 = ["mouse", [9, 3, 6], ['a']]
print(my_list3)

my_list4 = ['foo','bar','baz','quz','quux','corge']
print(my_list4)

my_list5 = [1,2,3,4,4.5,'helloworld','X']
print(my_list5)

## Mengakses Elemen List
Ada berbagai cara di mana kita dapat mengakses elemen lis.

### List Indexing
Kita dapat menggunakan operator indeks **`[]`** untuk mengakses item dalam list. Dalam Python, indeks dimulai dari 0. Jadi, daftar yang memiliki 5 elemen akan memiliki indeks dari 0 hingga 4.

Mencoba mengakses indeks selain ini akan memunculkan **`IndexError`**. Indeks harus berupa bilangan bulat. Kita tidak bisa menggunakan float atau tipe lainnya, ini akan menghasilkan **`TypeError`**. Sama seperti cara mengakses string

List bersarang diakses menggunakan pengindeksan bersarang.

<img src='https://raw.githubusercontent.com/milaan9/02_Python_Datatypes/main/img/l6_1.png' width=700></img>

In [ ]:
my_list = ['p', 'r', 'o', 'b', 'e']

print(my_list[0])
print(my_list[2])
print(my_list[4])

# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0][1])
print(n_list[1][3])

print(my_list[4.0]) # TypeError: list indices must be integers or slices, not float

### List Negative Indexing
Python memungkinkan pengindeksan negatif untuk mengakses list. Indeks -1 mengacu pada item terakhir, -2 untuk item terakhir kedua dan seterusnya.

In [ ]:
my_list = ['p','r','o','b','e']

print(my_list[-1])
print(my_list[-5])

### Memotong List
Kita dapat mengakses berbagai item dalam list dengan menggunakan operator pengiris **`:`** (titik dua).

```
<list_name>[start : stop : step]
```

In [ ]:
my_list = ['p','r','o','g','r','a','m','i','n','g']


print(my_list[2:5])   # elements 3rd to 4th
print(my_list[:-5])   # elements beginning to 4th
print(my_list[5:])    # elements 5th to end

# elements beginning to end
print(my_list[:])

Memotong dapat divisualisasikan dengan baik dengan mempertimbangkan indeks berada di antara elemen-elemen seperti yang ditunjukkan di bawah ini. Jadi jika kita ingin mengakses suatu range, kita membutuhkan dua indeks yang akan mengiris bagian itu dari list.

<img src='https://raw.githubusercontent.com/milaan9/02_Python_Datatypes/main/img/l6_2.png' width=600></img>

**CATATAN:** Memori Internal:
List tidak menyimpan elemen langsung di indeks. Sebenarnya referensi disimpan di setiap indeks yang selanjutnya merujuk ke objek yang disimpan di suatu tempat di memori. Hal ini disebabkan fakta bahwa beberapa objek mungkin cukup besar daripada objek lain dan karenanya mereka disimpan di beberapa lokasi memori lain.

In [ ]:
list=['foo','bar','baz','quz','quux','corge']

print(list[2])         
print(list[0:])
print(list[4:6])
print(list[-4:-1])
print(list[1:5:2])
print(list[-1: :-1])
print(list[-1])
print(list[-2])
print(len(list)-1)

In [ ]:
does_exist = 'bar' in list
print(does_exist)

## Operasi List
Selain membuat dan mengakses elemen dari list, Python memungkinkan kita untuk melakukan berbagai operasi lain dalam list. Beberapa operasi umum diberikan di bawah ini:

### Menambahkan atau Mengubah Elemen List

List dapat berubah, artinya elemennya dapat diubah tidak seperti string atau tuple. Kita dapat menggunakan assignment operator (**`=`**) untuk mengubah item atau rentang item.

In [ ]:
odd = [2, 4, 6, 8]
  
odd[0] = 1                  
print(odd)

odd[1:4] = [3, 5, 7]  # [1, 3, 5, 7] update 2nd to 4th elements
print(odd)

In [ ]:
data1 = [5, 10, 15, 20, 25]
print(data1) # [5, 10, 15, 20, 25]

data1[2] = "Multiple of 5"  # we are modifying the 3rd element using its index [2] 
print(data1) # [5, 10, 'Multiple of 5', 20, 25]

Kita dapat menambahkan satu item ke list menggunakan metode **`append()`** atau menambahkan beberapa item menggunakan metode **`extend()`**.

In [ ]:
# Appending and Extending Lists

odd = [1, 3, 5]

odd.append(7)
print(odd)  # [1, 3, 5, 7]

odd.extend([9, 11, 13])
print(odd)  # [1, 3, 5, 7, 9, 11, 13]

Kita juga dapat menggunakan operator **`+`** (concatenation) untuk menggabungkan dua list.

In [ ]:
# Concatenating Lists

odd = [1, 3, 5]
print(odd + [9, 7, 5]) # [1, 3, 5, 9, 7, 5]

In [ ]:
list1 = ['a','b','c']
list2 = ['x','y','z']
list3 = list1 + list2
print(list3)  # ['a', 'b', 'c', 'x', 'y', 'z']

In [ ]:
list1 = ['a','b','c']
a = 'x'
print(list1 + a)  # TypeError: can only concatenate list (not "str") to list

**CATATAN:** Operator **`+`** menyiratkan bahwa kedua operan yang diteruskan harus berupa list, jika tidak, error akan ditampilkan.

Operator **`'*'`** mengulang list untuk beberapa kali.

In [ ]:
# Repeating lists

print(["re"] * 3)   # ['re', 're', 're']

Selanjutnya, kita dapat menyisipkan satu item di lokasi yang diinginkan dengan menggunakan metode **`insert()`** atau menyisipkan beberapa item dengan memasukkannya ke dalam irisan list kosong.

In [ ]:
# List insert() Method

odd = [1, 9]
odd.insert(1,3)
print(odd)  # [1, 3, 9] 

odd[2:2] = [5, 7]
print(odd)  # [1, 3, 5, 7, 9]

### Menghapus Item List
Kita dapat menghapus satu atau lebih item dari list menggunakan **`del`**. Ini juga dapat menghapus list sepenuhnya.

In [ ]:
# Deleting list items

my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

del my_list[2]      # delete one item
print(my_list)      # ['p', 'r', 'b', 'l', 'e', 'm'] 

del my_list[1:5]    # delete multiple items
print(my_list)      # ['p', 'm']

del my_list         # delete entire list
print(my_list)      # NameError: name 'my_list' is not defined

In [ ]:
list1=['a','b','c']
print("data in list : ",list1)      # data in list :  ['a', 'b', 'c']

del(list1[2])
print("new data in list : ",list1)  # new data in list :  ['a', 'b']

Kita dapat menggunakan **`remove()`** untuk menghapus item yang diberikan atau **`pop()`** untuk menghapus item pada indeks yang diberikan. Metode **`pop()`** menghapus dan mengembalikan item terakhir jika indeks tidak disediakan. Ini sangat membantu kita mengimplementasikan list sebagai stacks. Kita juga bisa menggunakan metode **`clear()`** untuk mengosongkan list.

In [ ]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

print(my_list)        # ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list.pop(1)) # 'o'
print(my_list)        # ['r', 'b', 'l', 'e', 'm']
print(my_list.pop())  # 'm'
print(my_list)        # ['r', 'b', 'l', 'e']

my_list.clear()
print(my_list)        # []

Terakhir, kita juga dapat menghapus item dalam list dengan menetapkan list kosong ke sepotong elemen.

In [ ]:
my_list = ['p','r','o','b','l','e','m']

my_list[2:3] = []
print(my_list)  # ['p', 'r', 'b', 'l', 'e', 'm']

my_list[2:-2] = []
print(my_list)  # ['p', 'r', 'e', 'm']

## Built-in List Functions

| Functions | Description |
|:----| :--- |
| **`all()`** |   Returns **`True`** if all keys of the list are True. | 
| **`any()`** |   Returns **`True`** if any key of the list is true. If the list is empty, return **`False`**. | 
| **`sorted()`** |   Returns a new sorted list of elements in the list. | 
| **`min()`** |   Returns the minimum value from the list given. | 
| **`max()`** |   Returns the maximum value from the list given. | 
| **`len()`** |   Returns number of elements in a list. | 
| **`cmp()`** |   Compares items of two lists. (TIdak tersedia pada Python versi 3). | 
| **`list()`** |   Takes sequence types and converts them to lists. |

**`all(list)`**
Fungsi ini mengembalikan True ketika semua elemen dalam list yang diberikan bernilai true. Jika tidak, akan mengembalikan False.

In [ ]:
# all()

l = [1, 3, 4, 5]
print(all(l))  # True, all values true

l = [0, False]
print(all(l))  # False, all values false

l = [1, 3, 4, 0]
print(all(l))  # False, one false value

l = [0, False, 5]
print(all(l))  # False, one true value

l = []
print(all(l))  # True, empty iterable

**`any(list)`** 
Fungsi ini mengembalikan True jika ada elemen dari iterable yang True. Jika tidak, akan mengembalikan False.

In [ ]:
# any()

l = [1, 3, 4, 0]
print(any(l))  # True 

l = [0, False]
print(any(l))  # False, both are False

l = [0, False, 5]
print(any(l))  # True, 5 is true

l = []
print(any(l))  # False, iterable is empty

**`sorted(list)`**
Fungsi ini mengurutkan elemen dari list tertentu dalam urutan tertentu (**ascending** atau **descending**) dan mengembalikan list yang diurutkan.

In [ ]:
# sorted()

py_list = ['e', 'a', 'u', 'o', 'i']
print(sorted(py_list))                # ['a', 'e', 'i', 'o', 'u']
print(sorted(py_list, reverse=True))  # ['u', 'o', 'i', 'e', 'a']

**`min(list)`**
Fungsi ini digunakan untuk mendapatkan nilai mininmal dari list.

In [ ]:
# min()

list1 = ['a','b','c']
list2 = [1,2,3]
list3 = ['a','b','c',1,2,3]

print(min(list1))  # a 
print(min(list2))  # 1
print(min(list3))  # TypeError: '<' not supported between instances of 'int' and 'str'

**`max(list)`**
Fungsi ini digunakan untuk mendapatkan nilai maksimal dari list.

In [ ]:
# max()

list1 = ['a','b','c']
list2 = [1,2,3]
list3 = ['a','b','c',1,2,3]

print(max(list1))  # c
print(max(list2))  # 3
print(max(list3))  # TypeError: '>' not supported between instances of 'int' and 'str'

**`len(list)`** 
Fungsi ini mengembalikan jumlah elemen dalam list.

In [ ]:
# len()

list1 = ['a','b','c']
list2 = []
list3 = ['a','b','c',1,2,3]

print(len(list1))  # 3
print(len(list2))  # 0
print(len(list3))  # 6

## List Comprehension

In [ ]:
pow2 = [2 ** x for x in range(10)]

print(pow2)  # [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

Kode diatas sama dengan kita menuliskan dengan:

In [ ]:
pow2 = []

for x in range(10):
    pow2.append(2 ** x)
    
print(pow2)  # [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
pow2 = [2 ** x for x in range(10) if x > 5]
pow2  # [64, 128, 256, 512]

In [ ]:
odd = [x for x in range(20) if x % 2 == 1]
odd  # [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
[x+y for x in ['Python ','C '] for y in ['Language','Programming']]

## List Loop

In [ ]:
for fruit in ['apple','banana','mango']:
    print("I like", fruit)

In [ ]:
list1=['a','b','c',1,2,3]

for x in list1 :
    print(x)

# Tuple
Tuple dalam Python mirip dengan list. Perbedaannya adalah list diapit di antara **kurung siku** **`[]`**, sedangkan tuple di antara **tanda kurung** **`()`** dan kita tidak dapat mengubah elemen tuple setelah didefinisikan.

| Data types     | Type          |
| :------------: | :-----------: |
| **String**     | **immutable** |
| **List**       | **mutable**   |
| **Tuple**      | **immutable** |

## Membuat Tuple
Tuple dibuat dengan menempatkan semua item (elemen) di dalam **tanda kurung `()`**, dipisahkan oleh **koma `,`**. Tanda kurung adalah opsional, namun merupakan praktik yang baik untuk menggunakannya.

Sebuah tuple dapat memiliki sejumlah item dan mungkin memiliki tipe data yang berbeda (integer, float, list, string, dll).

<img src="https://raw.githubusercontent.com/milaan9/02_Python_Datatypes/main/img/t0.png" width="500"/>

In [1]:
# Different types of tuples

# Empty tuple
my_tuple1 = ()
print(my_tuple1)  # ()

# Tuple having integers
my_tuple2 = (1, 2, 3)
print(my_tuple2)  # (1, 2, 3)

# tuple with mixed datatypes
my_tuple3 = (1, "Hello", 3.4)
print(my_tuple3)  # (1, "Hello", 3.4)

# nested tuple
my_tuple4 = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple4)  # ("mouse", [8, 4, 6], (1, 2, 3))
len(my_tuple4)    # 3

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

3

Tuple juga dapat dibuat tanpa menggunakan tanda kurung. Ini dikenal sebagai 'tuple packing'.

In [2]:
# Example

my_tuple = 3, 4.6, "dog"   # paranthesis () is not mandatory
print(my_tuple)  # (3, 4.6, 'dog')

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)        # 3
print(b)        # 4.6
print(c)        # dog

(3, 4.6, 'dog')
3
4.6
dog

In [3]:
# Example

t1 = ('a b', 1, 2, 3.14, "HelloWorld")
t2 = "a", "b", "c", "d"

# tuple contain other list and tuple
t3 =(1, 2, 3, ['a','b','c'], ('z', 26))

print(t1)  # ('a b', 1, 2, 3.14, 'HelloWorld')
print(t2)  # ('a', 'b', 'c', 'd')
print(t3)  # (1, 2, 3, ['a', 'b', 'c'], ('z', 26))

('a b', 1, 2, 3.14, 'HelloWorld')
('a', 'b', 'c', 'd')
(1, 2, 3, ['a', 'b', 'c'], ('z', 26))

Membuat Tuple dengan satu elemen agak rumit. Memiliki satu elemen di dalam tanda kurung **`()`** tidaklah cukup. Kita harus membutuhkan tanda koma **`,`** untuk menunjukkan bahwa itu sebenarnya adalah tuple.

In [4]:
# Example

t1 = 5  # without () and comma ","
print(t1)       # 5  
print(type(t1)) # <class 'int'>

t2 = 5, # with ","
print(t2)       # (5,)
print(type(t2)) # <class 'tuple'>

t3 = (5) # without ","  That means () is not important, ',' is important
print(t3)       # 5
print(type(t3)) # <class 'int'>

t4 = (5,)       
print(t4)       # 5
print(type(t4)) # <class 'tuple'>

5
<class 'int'>
(5,)
<class 'tuple'>
5
<class 'int'>
(5,)
<class 'tuple'>

## Mengakses Elemen Tuple

### Tuple Indexing
Kita dapat menggunakan **operator indeks** **`[]`** untuk mengakses item dalam tuple, di mana indeks dimulai dari 0. Jadi, tuple yang memiliki 6 elemen akan memiliki indeks dari 0 hingga 5. Mencoba mengakses indeks di luar rentang indeks tuple (6,7,... dalam contoh ini) akan memunculkan **`IndexError`**. Indeks harus bilangan bulat, jadi kita tidak bisa menggunakan float atau tipe lainnya. Ini akan menghasilkan **`TypeError`**.

In [5]:
# Accessing tuple elements using indexing

my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])   # 'p' 
print(my_tuple[5])   # 't'

print("Last index:", len(my_tuple) - 1)             # Last index: 5
print("Last element:", my_tuple[len(my_tuple) - 1]) # Last element: t

# Index must be within range
# print(my_tuple[6]) # IndexError: list index out of range

# Index must be an integer
# my_tuple[2.0] # TypeError: tuple indices must be integers or slices, not float

p
t
Last index: 5
Last element: t

In [6]:
# Example

n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[2][0])  # 1 element with index 2 and within sub-element with index 0
print(n_tuple[0][3])  # s element with index 0 and within sub-element with index 3

1
s

In [9]:
# Example

t = ("helloworld", 'xyz', 1,-2,3.6)

for x in t:
    print(x)

helloworld
xyz
1
-2
3.6

### Tuple Negative Indexing

In [10]:
# Example: Negative indexing for accessing tuple elements

my_tuple = ('p', 'e', 'r', 'm', 'i', 't')

print(my_tuple[-1])   # t
print(my_tuple[-6])   # p

t
p

In [11]:
# Example

t=(3,7,4,2)

print(t[2])           # 4
print(t[1:3])         # (7, 4)
print(t[-3])          # 7
print(t[-4:-2])       # (3, 7)
print(t[-1 :  : -1])  # (2, 4, 7, 3) start from -1 and step =-1 so its basicly return reverse tuple

4
(7, 4)
7
(3, 7)
(2, 4, 7, 3)

### Memotong Tuple
Kita dapat mengakses berbagai item dalam sebuah tupel dengan menggunakan operator pengiris **`:`**(titik dua).

```
tuple[start : stop : step]
```
secara default langkahnya adalah +1

In [12]:
# Example: Accessing tuple elements using slicing

my_tuple = ('p','r','o','g','r','a','m','i','n','g')

# elements 2nd to 4th
print(my_tuple[1:4])   # ('r', 'o', 'g')

# elements beginning to 2nd
print(my_tuple[:-7])   # ('p', 'r')

# elements 8th to end
print(my_tuple[7:])    # ('i', 'z')

# elements beginning to end
print(my_tuple[:])     # ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n','g')

('r', 'o', 'g')
('p', 'r', 'o')
('i', 'n', 'g')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g')

## Operasi Tuple

### Mengubah Elemen Tuple
Tidak seperti list, **tupel tidak dapat diubah**. Ini berarti bahwa elemen tupel tidak dapat diubah setelah mereka didefinisikan. Namun, jika elemen itu sendiri adalah tipe data yang dapat diubah seperti ;ist, item bersarangnya dapat diubah. Kita juga dapat menetapkan tuple ke nilai yang berbeda.

In [13]:
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5])

# my_tuple[1] = 9     # TypeError: 'tuple' object does not support item assignment

# However, item of mutable element can be changed
my_tuple[3][0] = 9    
print(my_tuple)  # (4, 2, 3, [9, 5])

# Tuples can be reassigned
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g')
print(my_tuple)  # ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', ''n', 'g')

(4, 2, 3, [9, 5])
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g')

Kita dapat menggunakan operator **`+`** untuk menggabungkan dua tuple. Kita juga bisa mengulang elemen dalam sebuah tuple untuk beberapa kali dengan menggunakan operator **`*`**. Operasi **`+`** dan **`*`** menghasilkan tuple baru.

In [14]:
# Example 1:

# Concatenation
print((1, 2, 3) + (4, 5, 6)) # (1, 2, 3, 4, 5, 6)

# Repeat
print(("Repeat",) * 3)       # ('Repeat', 'Repeat', 'Repeat')

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

In [15]:
# Example 2:

t1 = (1,2,3)
t2 = ('x','y','z')
t3 = t1 + t2
print(t3)   # (1, 2, 3, 'x', 'y', 'z')
print(t1*2) # (1, 2, 3, 1, 2, 3)
print(t2*3) # ('x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z')

(1, 2, 3, 'x', 'y', 'z')
(1, 2, 3, 1, 2, 3)
('x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z')

Seperti dibahas di atas, kita tidak dapat mengubah elemen dalam sebuah tuple. Ini berarti bahwa kita tidak dapat menghapus atau menghapus item dari tuple. Menghapus tuple seluruhnya, bagaimanapun, dimungkinkan menggunakan kata kunci.

In [17]:
# Example

my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g')

del my_tuple[3]  # TypeError: 'tuple' object doesn't support item deletion

TypeError: 'tuple' object doesn't support item deletion

In [18]:
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g')

del my_tuple
print(my_tuple)   # NameError: name 'my_tuple' is not defined

NameError: name 'my_tuple' is not defined

## Built-in Tuple Functions
| Function | Description |
|:----| :--- |
| **`len()`** |  Returns number of elements in a tuple. | 
| **`max()`** |  Returns item from the tuple with max value. | 
| **`min()`** |  Returns item from the tuple with min value.  | 
| **`sorted()`** |  Returns a new sorted list of sequence in the tuple. | 
| **`tuple()`** |  Converts a sequence into tuple.  | 
| **`cmp()`** |  Compares items of two tuples. (Not available in Python 3).  |

In [20]:
# The `len()` method returns the number of elements in the tuple.
# Example

t1= (1,2,3,4,5)
t2 = ('x','y','z',[1,2],3)
print(len(t1))  # 5
print(len(t2))  # 5

5
5

In [23]:
# The max() method returns the elements from the tuple with maximum value.
# The min() method returns the elements from the tuple with minimum value. 
# Type of element should be same otherwise complier throw `TypeError`.
# Example

t1= (1,2,3,4,5)
t2 = ('x','y','z')
print(max(t1))  # 5
print(min(t2))  # x

5
x

## Tuple Methods
Metode yang menambahkan item atau menghapus item tidak tersedia pada Tuple. Hanya dua metode berikut yang tersedia.

In [24]:
# Example

my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p'))   # 2
print(my_tuple.index('l'))   # 3

2
3

In [25]:
# Example: Membership test in tuple

my_tuple = ('a', 'p', 'p', 'l', 'e',)

# In operation
print('a' in my_tuple)      # True
print('b' in my_tuple)      # False

# Not in operation
print('g' not in my_tuple)  # True

True
False
True

## Kapan menggunakan Tuple?
* Pemrosesan Tuple **lebih cepat** daripada List.
* Membuat data lebih **aman** karena elemen pada Tuple **tidak dapat diubah**.
* Tuple digunakan untuk **pemformatan string**.

**Keuntungan Tuple dibandingkan List**
Karena tuple sangat mirip dengan list, keduanya digunakan dalam situasi yang sama. Namun, ada keuntungan tertentu dari penerapan tuple dibandingkan list. Di bawah ini tercantum beberapa keuntungan utama:
* Kita biasanya menggunakan tuple untuk tipe data yang heterogen (berbeda) dan list untuk tipe data yang homogen (serupa).
* Karena tuple tidak dapat diubah, iterasi melalui tuple lebih cepat daripada list. Jadi ada sedikit peningkatan kinerja.
* Tuple yang berisi elemen yang tidak dapat diubah dapat digunakan sebagai kunci untuk kamus. Dengan list, ini tidak mungkin.
* Jika kita memiliki data yang tidak berubah, mengimplementasikannya sebagai Tuple akan menjamin bahwa data tersebut tetap aman dari kesalahan penulisan.

# Dictionary
Dictionary adalah kumpulan item yang tidak berurutan. Setiap item dictionary memiliki pasangan **`key/value`**. Dictionary dioptimalkan untuk mengambil value ketika key diketahui.

<img src="https://raw.githubusercontent.com/milaan9/02_Python_Datatypes/main/img/d0.png" width="600"/>


```
>>> dict = { }  #empty dictionary
>>> dict = {1:'Python',2:'Java',3:'C++'}
```

* **Dictionary adalah mutable** yaitu, value dapat diperbarui.
* Key harus unik dan tidak dapat diubah. Value diakses dengan key. Value dapat diperbarui sementara key tidak dapat diubah.
* Dictionary dikenal sebagai array Asosiatif karena key berfungsi sebagai Indeks dan ditentukan oleh pengguna.

| Data types     | Type          |
| :------------: | :-----------: |
| **String**     | **immutable** |
| **List**       | **mutable**   |
| **Tuple**      | **immutable** |
| **Dictionary** | **mutable**   |

## Membuat Dictionary
Membuat dictionary semudah menempatkan item di dalam kurung kurawal **`{}`** dipisahkan dengan koma. Sebuah item memiliki **`key`** dan **`value`** terkait yang dinyatakan sebagai pasangan {**key: value**}. **`key`** dan **`value`** dipisahkan oleh titik dua **`:`**. Item dipisahkan satu sama lain dengan koma **`,`**. Meskipun value dapat berupa tipe data apa pun dan dapat diulang, key harus dari tipe yang tidak dapat diubah (string, number, atau tuple) dengan elemen yang tidak dapat diubah) dan harus unik.

In [27]:
# Example:

d = {}; l = []; t = (); s = set(); st = ""
print(d,l,t,s,st)     # ▶ {} [] () set() 
print(type(d),type(l),type(t), type(s), type(st))

{} [] () set()
<class 'dict'> <class 'list'> <class 'tuple'> <class 'set'> <class 'str'>

In [28]:
# dictionary with integer keys
my_dict1 = {1: 'apple', 2: 'ball'}
print(my_dict1)        # {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict2 = {1:"hi", "name":666, 1.5:("yes","very much"), 9: [3, 6, 9]}
print(my_dict2)        # {1: 'hi', 'name': 666, 1.5: ('yes', 'very much'), 9: [3, 6, 9]}

# from sequence having each item as a pair
my_dict3 = dict([(1,'apple'), (2,'ball')])
print(type([(1,'apple'), (2,'ball')])) # nested list
print(my_dict3)        # {1: 'apple', 2: 'ball'}
print(len(my_dict3))   # 2

{1: 'apple', 2: 'ball'}
{1: 'hi', 'name': 666, 1.5: ('yes', 'very much'), 9: [3, 6, 9]}
<class 'list'>
{1: 'apple', 2: 'ball'}
2

In [29]:
dict([(1, 100), ('bar', 200)]), dict(foo=100, bar=200)

({1: 100, 'bar': 200}, {'foo': 100, 'bar': 200})

## Mengakses Elemen Dictionary
Sementara index slicing digunakan dengan tipe data lain untuk mengakses value, dictionary menggunakan **`keys`**. Key dapat digunakan di dalam tanda kurung siku **`[]`** atau dengan metode **`get()`**. Jika kita menggunakan tanda kurung siku **`[]`**, **`KeyError`** dimunculkan jika key tidak ditemukan dalam dictionary. Di sisi lain, metode **`get()`** mengembalikan **`None`** jika key tidak ditemukan.

In [30]:
# Example: get vs [] for retrieving elements

my_dict = {1:'Python', 2:'Java', 3:'C++', 'c': 'Gods language'}

# method: 1
print(my_dict[1])         # Python

# method: 2
print(my_dict.get('c'))   # Gods language

Python
Gods language

In [31]:
# Trying to access keys which doesn't exist in dictionary:
print(my_dict.get(4))     # None

print(my_dict[4])         # KeyError!

None

KeyError: 4

Perulangan semua elemen menggunakan for loop untuk metode **`keys()`**. Metode **`keys()`** mengembalikan daftar semua key dalam kamus.

In [32]:
# Example

dict = {1:'Python', 2:'Java', 3:'C++', 'c': 'Gods language'}

print(dict.keys())
for x in dict.keys():
    print(dict[x])

dict_keys([1, 2, 3, 'c'])
Python
Java
C++
Gods language

## Mengubah Elemen Dictionary

In [35]:
# Example: Changing and adding Dictionary Elements

my_dict = {'name':'Arthur', 'age':24}

my_dict['age'] = 25   # update value
print(my_dict)        # {'age': 25, 'name': 'Arthur'}

my_dict['address'] = 'Downtown'  # add item
print(my_dict)        # {'name': 'Arthur', 'age': 25, 'address': 'Downtown'}

{'name': 'Arthur', 'age': 25}
{'name': 'Arthur', 'age': 25, 'address': 'Downtown'}

In [36]:
# Example: Changing and adding Dictionary Elements

my_dict = {1:'Python', 2:'Java', 3:'C++'}
my_dict[3]="R"     # update value
my_dict[4]="PHP"   # insert new value
print(my_dict)     # {1: 'Python', 2: 'Java', 3: 'R', 4: 'PHP'}

{1: 'Python', 2: 'Java', 3: 'R', 4: 'PHP'}

In [37]:
# Example: Removing elements from a dictionary

squares = {1:1, 2:4, 3:9, 4:16, 5:25}   # create a dictionary

# remove a particular item, returns its value
print(squares.pop(4))    # 16
print(squares)           # {1: 1, 2: 4, 3: 9, 5: 25}

# remove an arbitrary item, return (key,value)
print(squares.popitem()) # (5, 25)
print(squares)           # {1: 1, 2: 4, 3: 9}

squares.clear()          # remove all items
print(squares)           # {}

del squares              # delete the dictionary itself
print(squares)           # NameError!!!

16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{}

NameError: name 'squares' is not defined

In [38]:
# Example: Removing elements from a dictionary

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
del my_dict[3]    # {1: 'Python', 2: 'Java', 4: 'PHP'} ∵ remove entry with key '3'
print(my_dict)    # {}

my_dict.clear()   # remove all entries in dict
print("my_dict : ",my_dict)  # my_dict :  {}

del my_dict       # delete entire dictionary
print(my_dict[2]) # NameError!!!

{1: 'Python', 2: 'Java', 4: 'PHP'}
my_dict :  {}

NameError: name 'my_dict' is not defined

## Built-in Dictionary Functions

| Function | Description |
|:----| :--- |
| **`all()`** | Returns **`True`** if all keys of the dictionary are true (or if the dictionary is empty). | 
| **`any()`** | Returns **`True`** if any key of the dictionary is true. If the dictionary is empty, return **`False`**. | 
| **`len()`** | Returns the length (the number of items) in the dictionary. | 
| **`cmp()`** | Compares items of two dictionaries. (Not available in Python 3). | 
| **`sorted()`** | Returns a new sorted list of keys in the dictionary. | 
| **`str()`** | Produces a printable string representation of a dictionary. | 
| **`type()`** | Returns the type of the passed variable. If passed variable is dictionary,then it would return a dictionary type. |

In [40]:
# Example: Dictionary Built-in Functions

squares = {0:0, 1:1, 3:9, 5:25, 7:49, 9:81}

print(all(squares))     # False
print(any(squares))     # True
print(len(squares))     # 6
print(sorted(squares))  # [0, 1, 3, 5, 7, 9]

False
True
6
[0, 1, 3, 5, 7, 9]

In [41]:
# Example : How all() works with Python dictionaries?
# In case of dictionaries, if all keys (not values) are true or the dictionary is empty, 
# all() returns True. Else, it returns false for all other cases.

my_dict = {0:'False', 1:'False'}
print(all(my_dict))   # False

my_dict = {1:'True', 2:'True'}
print(all(my_dict))   # True

my_dict = {1:'True', False:0}
print(all(my_dict))   # False

my_dict = {}
print(all(my_dict))   # True

# 0 is False
# '0' is True
my_dict = {'0':'True'}
print(all(my_dict))   # True

False
True
False
True
True

In [42]:
# Example : How any() works with Python dictionaries?

my_dict = {0:'False'}             
print(any(my_dict))                # False, 0 is False

my_dict = {0:'False', 1:'True'}  
print(any(my_dict))                # True, 1 is True

my_dict = {0:'False', False:0}   
print(any(my_dict))                # False, both 0 and False are False

my_dict = {}                       
print(any(my_dict))                # False, iterable is empty

# 0 is False
# '0' is True
my_dict = {'0':'False'}           
print(any(my_dict))                # True

False
True
False
False
True

In [43]:
# Example

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
print(len(my_dict))  # 4

4

In [44]:
# Example

my_dict = {'e':1, 'a':2, 'u':3, 'o':4, 'i':5}
print(sorted(my_dict))               # ['a', 'e', 'i', 'o', 'u']
print(sorted(my_dict, reverse=True)) # ['u', 'o', 'i', 'e', 'a']

['a', 'e', 'i', 'o', 'u']
['u', 'o', 'i', 'e', 'a']

In [45]:
# Example

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
print(str(my_dict)) # {1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}

{1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}

In [46]:
# Example

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
print(type(my_dict))  # <class 'dict'>

<class 'dict'>

## Dictionary Methods

| Method | Description |
|:----| :--- |
| **`clear()`** | Removes all items from the dictionary. | 
| **`copy()`** | Returns a shallow copy of the dictionary. | 
| **`fromkeys(seq[, v])`** | Returns a new dictionary with keys from **`seq`** and value equal to **`v`** (defaults to **`None`**). | 
| **`get(key[,d])`** | Returns the value of the **`key`**. If the **`key`** does not exist, returns **`d`** (defaults to **`None`**). | 
| **`items()`** | Return a new object of the dictionary's items in **`(key, value)`** format. | 
| **`keys()`** | Returns a new object of the dictionary's keys. | 
| **`pop(key[,d])`** | Removes the item with the **`key`** and returns its value or **`d`** if **`key`** is not found. If **`d`** is not provided and the **`key`** is not found, it raises **`KeyError`**. | 
| **`popitem()`** | Removes and returns an arbitrary item **`(key, value)`**. Raises **`KeyError`** if the dictionary is empty. | 
| **`setdefault(key[,d])`** | Returns the corresponding value if the **`key`** is in the dictionary. If not, inserts the **`key`** with a value of **`d`** and returns **`d`** (defaults to **`None`**). | 
| **`update([other])`** | Updates the dictionary with the key/value pairs from **`other`**, overwriting existing keys. |  
| **`values()`** | Returns a new object of the dictionary's values. |

In [47]:
# Example: Dictionary Methods

marks = {}.fromkeys(['Math', 'English', 'Science'], 0)
print(marks)                        # {'English': 0, 'Math': 0, 'Science': 0}

for item in marks.items():
    print(item)

print(list(sorted(marks.keys())))   # ['English', 'Math', 'Science']

{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)
['English', 'Math', 'Science']

In [48]:
# The method `clear()` removes all items from the dictionary.
# Example:

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}

print(str(my_dict))  # {1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}
dict.clear()
print(str(my_dict))  # {}

{1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}
{1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}

In [49]:
# The method `copy()` returns a shallow copy of the dictionary.
# Example:

dict1 = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
dict2 = dict1.copy()
print(dict2)  # {1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}

{1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}

In [50]:
# The method `items()` returns a list of dict's (key, value) tuple pairs.
# Example:

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
print(my_dict.items()) # dict_items([(1, 'Python'), (2, 'Java'), (3, 'C++'), (4, 'PHP')])

dict_items([(1, 'Python'), (2, 'Java'), (3, 'C++'), (4, 'PHP')])

In [51]:
# The method `keys()` returns a list of all the available keys in the dictionary.
# Example:

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
all_keys=my_dict.keys()
print(all_keys)  # dict_keys([1, 2, 3, 4])

dict_keys([1, 2, 3, 4])

In [52]:
# The method `fromkeys()` creates a new dictionary with keys from seq and values set to value.
# Example:

seq = ('Python', 'Java', 'C++')
my_dict = my_dict.fromkeys(seq)

print ("new_dict : %s" % str(my_dict)) # new_dict : {'python': None, 'java': None, 'c++': None}
my_dict = my_dict.fromkeys(seq, 50)
print ("new_dict : %s" % str(my_dict)) # new_dict : {'python': 50, 'java': 50, 'c++': 50}

new_dict : {'Python': None, 'Java': None, 'C++': None}
new_dict : {'Python': 50, 'Java': 50, 'C++': 50}

In [53]:
# The method `setdefault()` is similar to `get` but will set `dict[key]` = default if key is not already in dict.
# Example:

my_dict = {'emp_name':'Milaan', 'age':96, 'emp_id':999}
my_dict.setdefault('company','JLUFE')
print(my_dict['emp_name'])   # Milaan
print(my_dict['company'])    # JLUFE

Milaan
JLUFE

In [55]:
# The method `update()` adds dictionary dict2's key-values pairs in to dict. This function does not return anything.
# Example:

dict1 = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
dict2 = {1:'Python3',5:'C'}  # update Python to Python3
dict1.update(dict2)
print(dict1)   # {1: 'Python3', 2: 'Java', 3: 'C++', 4: 'PHP', 5: 'C'}

{1: 'Python3', 2: 'Java', 3: 'C++', 4: 'PHP', 5: 'C'}

In [56]:
# The method `values()` returns a list of all the values available in a given dictionary.
# Example:

dict1 = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
values = dict1.values()
print(values)  # dict_values(['Python', 'Java', 'C++', 'PHP'])

dict_values(['Python', 'Java', 'C++', 'PHP'])

## Dictionary Comprehension
Dictionary comprehension adalah cara yang elegan dan ringkas untuk membuat kamus baru dari iterable pada Python. Dictionary comprehension terdiri dari pasangan ekspresi **`(key: value)`** diikuti oleh pernyataan **`for`** di dalam kurung kurawal **`{}`**.

In [57]:
# Example: Dictionary Comprehension

squares = {x: x*x for x in range(6)}
print(squares)  # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Kode diatas sama jiak dituliskan dengan:

In [58]:
squares = {}
for x in range(6):
    squares[x] = x*x
print(squares)  # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Dictionary comprehension secara opsional dapat berisi lebih banyak **for** atau **if**. Pernyataan **`if`** opsional dapat memfilter item untuk membentuk dictionary baru.

In [59]:
# Example: Dictionary Comprehension with if conditional

odd_squares = {x: x*x for x in range(11) if x % 2 == 1}
print(odd_squares)  # {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Set
Set adalah **kumpulan item yang tidak diurutkan**. Setiap elemen yang ditetapkan adalah unik (tidak boleh sama ) dan harus tidak dapat diubah (immutable ). Namun, set itu sendiri bisa berubah. Kita dapat menambahkan atau menghapus item darinya. Set juga dapat digunakan untuk melakukan operasi himpunan matematika seperti **union**, **intersection**, **symmetric difference**, dll.

| Data types     | Type          |
| :------------: | :-----------: |
| **String**     | **immutable** |
| **List**       | **mutable**   |
| **Tuple**      | **immutable** |
| **Dictionary** | **mutable**   |
| **Set**        | **immutable** |

**Bagaimana set dapat lebih baik dari tipe data lainnya?**

Set **tidak akan berisi beberapa kemunculan elemen yang sama**, sangat berguna dalam menghapus elemen duplikat dari list atau tuple. Set juga berguna dalam menghitung notasi matematika seperti union, intersection, dll.

## Membuat Set
Set dibuat dengan menempatkan semua item (elemen) di dalam kurung kurawal **`{}`**, dipisahkan dengan koma, atau dengan menggunakan fungsi **`set()`**. Set dapat memiliki sejumlah item dan memiliki tipe yang berbeda (integer, float, tuple, string, dll.). Tetapi satu set tidak dapat memiliki elemen yang bisa berubah seperti list atau dictionary.

In [60]:
# Example : Different types of sets in Python

# Set of integers
my_set = {5, 7, 1, 2, 3}            
print(my_set)           # {1, 2, 3, 5, 7}
 
# Set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}  
print(my_set)           # {1.0, 'Hello', (1, 2, 3)}

{1, 2, 3, 5, 7}
{1.0, (1, 2, 3), 'Hello'}

In [63]:
# Example : Different types of sets in Python

# set cannot have duplicates
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)             # {1, 2, 3, 4}

# we can make set from a list
my_set = set([1, 2, 3, 2])
print(my_set)             # {1, 2, 3}

# set can have immutable items
# here (3, 4) is a immutable list

my_set = {1, 2, (3, 4)}   
print(my_set)            # {1, 2, (3, 4)}, tuple is immutable

# set cannot have mutable items
# here [3, 4] is a mutable list
my_set = {1, 2, [3, 4]}  # this will cause an error, list is mutable

{1, 2, 3, 4}
{1, 2, 3}
{1, 2, (3, 4)}

TypeError: unhashable type: 'list'

In [61]:
# Example : Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))  # <class 'dict'> ∵ dict also use {}

# initialize a with set()
a = set()

# check data type of a
print(type(a))  # <class 'set'>

<class 'dict'>
<class 'set'>

## Mengubah Elemen Set
Set adalah mutable. Namun, karena tidak berurutan, pengindeksan tidak memiliki arti. Kita tidak dapat mengakses atau mengubah elemen set menggunakan index slicing.

In [64]:
# Example

# initialize my_set
my_set = {1, 3}
print(my_set)      # {1, 3}

# my_set[0]
# if you uncomment above line, you will get an error
# TypeError: 'set' object does not support indexing

# add an element
my_set.add(2)
print(my_set)     # {1, 2, 3}

# add multiple elements
my_set.update([2, 3, 4])
print(my_set)     # {1, 2, 3, 4}

# add list and set
my_set.update([1,7],(8,9,10),{1,5,9,10})
print(my_set)     # {1, 2, 3, 4, 5, 7, 8, 9, 10}

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 7, 8, 9, 10}

Item dapat dihapus dari set menggunakan metode **`discard()`** dan **`remove()`**. Satu-satunya perbedaan antara kedua metode tersebut adalah bahwa **`discard()`** membiarkan set tidak berubah jika elemen tidak ada dalam set. Di sisi lain, **`remove()`** akan memunculkan error dalam kondisi seperti itu (jika elemen tidak ada dalam set).

In [65]:
# Example: Difference between discard() and remove() for removing element from a set

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)     # {1, 3, 4, 5, 6}

# discard an element
my_set.discard(4)
print(my_set)     # {1, 3, 5, 6}

# remove an element
my_set.remove(6)
print(my_set)     # {1, 3, 5}

# discard an element not present in my_set
my_set.discard(2)
print(my_set)     # {1, 3, 5} NO ERROR!

# remove an element not present in my_set you will get an error.
my_set.remove(2)  # KeyError!!!

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

KeyError: 2

Kita dapat menghapus dan mengembalikan item menggunakan metode **`pop()`**. Karena set adalah tipe data yang tidak berurutan, tidak ada cara untuk menentukan item mana yang akan muncul. Kita juga dapat menghapus semua item dari set menggunakan metode **`clear()`**.

In [66]:
# Example:

# initialize my_set
my_set = set("HelloWorld")
print(my_set)        # unorderd set of unique elements

# pop an element
print(my_set.pop())  # removes a random element

# pop another element
my_set.pop()
print(my_set)

# clear my_set
my_set.clear()
print(my_set)        # set()

{'l', 'r', 'W', 'e', 'H', 'o', 'd'}
l
{'W', 'e', 'H', 'o', 'd'}
set()

## Set Operations
Set dapat digunakan melakukan operasi himpunan matematika seperti union, intersection, difference dan symmetric difference. Kita dapat melakukan ini dengan operator atau metode. Perhatikan dua himpunan berikut untuk operasi set.

```
>>> A = {1, 2, 3, 4, 5}
>>> B = {4, 5, 6, 7, 8}
```

### Set Union
<img src="https://github.com/milaan9/02_Python_Datatypes/blob/main/img/set1.png?raw=1" width="300"/>

Union **`A`** dan **`B`** adalah himpunan semua elemen dari kedua himpunan. Union dilakukan menggunakan operator **`|`**. Hal yang sama dapat dilakukan dengan menggunakan metode **`union()`**.

In [68]:
# Example

# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
print(A | B)      # {1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [69]:
# Example

# use union function
A.union(B)
{1, 2, 3, 4, 5, 6, 7, 8}

# use union function on B
B.union(A)
{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

### Set Intersection
<img src="https://github.com/milaan9/02_Python_Datatypes/blob/main/img/set2.png?raw=1" width="300"/>

Intersection **`A`** dan **`B`** adalah himpunan elemen yang beririsan di kedua himpunan.

Intersection dilakukan menggunakan operator **`&`**. Hal yang sama dapat dilakukan dengan menggunakan metode **`intersection()`**.

In [70]:
# Example

# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
print(A & B)     # {4, 5}

{4, 5}

In [71]:
# Example

# use intersection function on A
A.intersection(B) # {4, 5}

# use intersection function on B
B.intersection(A) # {4, 5}

{4, 5}

### Set Difference
<img src="https://github.com/milaan9/02_Python_Datatypes/blob/main/img/set3.png?raw=1" width="300"/>

Selisih himpunan **`B`** dari himpunan **`A`**, **`(A - B)`** adalah himpunan elemen yang hanya ada di A tetapi tidak di `B`. Demikian pula, **`B - A`** adalah kumpulan elemen dalam **`B`** tetapi tidak dalam **`A`**.

Set difference dapat dilakukan dengan menggunakan operator **`-`**. Hal yang sama dapat dilakukan dengan menggunakan metode **`difference()`**.

In [72]:
# Example

# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
print(A - B)    # {1, 2, 3}
print(B - A)    # {8, 6, 7}

{1, 2, 3}
{8, 6, 7}

In [73]:
# Example

# use difference function on A
A.difference(B) # {1, 2, 3}

# use difference function on B
B.difference(A) # {6, 7, 8}

{6, 7, 8}

### Set Symmetric Difference
<img src="https://github.com/milaan9/02_Python_Datatypes/blob/main/img/set4.png?raw=1" width="300"/>

Selisih simetris dari **`A`** dan **`B`** adalah kumpulan elemen di **`A`** dan **`B`** tetapi tidak di keduanya (tidak termasuk perpotongan).

Perbedaan simetris dilakukan dengan menggunakan operator **`^`**. Hal yang sama dapat dilakukan dengan menggunakan metode **`symmetric_difference()`**.

In [74]:
# Example

# Symmetric difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator
print(A ^ B)    # {1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

In [75]:
# Example

# use symmetric_difference function on A
A.symmetric_difference(B)  # {1, 2, 3, 6, 7, 8}

# use symmetric_difference function on B
B.symmetric_difference(A)  # {1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

## Frozenset
Frozenset adalah kelas baru yang memiliki karakteristik himpunan, tetapi elemennya tidak dapat diubah setelah ditetapkan. Sementara tuple adalah daftar yang tidak dapat diubah, Frozenset adalah set yang tidak dapat diubah.

Set yang dapat diubah tidak dapat di-hash, sehingga tidak dapat digunakan sebagai key pada dictionary. Di sisi lain, frozenset dapat di-hash dan dapat digunakan sebagai key pada dictionary. Frozenset dapat dibuat menggunakan fungsi **`frozenset()`**.

Fungsi **`frozenset()`** mengembalikan objek frozenset yang tidak dapat diubah yang diinisialisasi dengan elemen dari iterable yang diberikan.

In [76]:
# Example

# Frozensets
# initialize A and B
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

In [77]:
A.isdisjoint(B) # False, they have common intersection points

False

In [78]:
# Example

# initialize A and B
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

# copying a frozenset
C = A.copy()                     # frozenset({1, 2, 3, 4})
print(C)

# union
print(A.union(B))                # frozenset({1, 2, 3, 4, 5, 6})

# intersection
print(A.intersection(B))         # frozenset({3, 4})

# difference
print(A.difference(B))           # frozenset({1, 2})

# symmetric_difference
print(A.symmetric_difference(B)) # frozenset({1, 2, 5, 6})

frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
frozenset({1, 2, 5, 6})